
wp-config.php
wp-content/debug.log
.vscode/sftp.json
.vscode/launch.json
.vscode/sftp.json
etc/nginx/nginx.conf
.htaccess
phpinfo.php
whmcs/error_log
whmcs/security_advisory_20200128_verification_tool.php
.htaccess
